<div class="jumbotron text-center">
  <h1>Welcome to Muzak</h1>
  <h3>A curated membership site where industry can meet expert musical talent from instrumentalists, vocalists, composers and engineers.</h3>
</div>