.user-show-avatar{
  height: 128px;
  width: 128px;
  
}

/* Users Index Page Styles */
.user-index-avatar {
  border-radius: 50%;
}


.job-title-icon{
  display: inline-block;
  width: 33px;
  height: 33px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #337ab7;
  color:white;
  text-align: center;
  
  
}


.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}
.well.profile-description {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.well.contact-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}


.well.blue-bg{
  background-color: #B0E0E6;
  
}